# Core functionality - changes here should be rare!
/src/app.py                   @KhantThu
/src/backend/database.py      @KhantThu
/src/backend/routers/auth.py  @KhantThu

# The frontend will need refactored soon to be more object oriented.
/src/static/   @KhantThu
